.debug{
    background-color: greenyellow;
}

*   {
        box-sizing: border-box;
    }

body{
    align-items: center;
    background-color: #1F181F;
    color: #FFFFFFDD;
    font-family: Arial, Helvetica, sans-serif;
}

.Kanban-Column{
    float: left;
    width: 33.33%;
    padding: 15px;
}

.box-bright{
    border-radius: 15px;
    background-color: #88888888;
    border-color: #FFFFFF88;
    border-width: 2px;
    border-style: solid;
}

.box-dark{
    background-color: #3D383F;
    border-radius: 30px;
    padding: 10px;
    border-color: #888888;
    border-width: 5px;
    border-style: solid;
    text-align: center;
}

.Kanban-Container{
    height: 100%;
}

@media screen and (max-width: 1000px){
    .Kanban-Column{
        width: 100%;
    }
}

.Kanban-Title{
    font-weight: 50 0;
    font-size: 40px;
    user-select: none;
}

.Kanban-Card{
    margin-top: 10px;
    min-height: 50px;
    transition: background-color ease-in-out 200ms;
}

.Kanban-Card:hover{
    background-color: #888888;
}

.Card-Title{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.Card-Description{
    margin: 10px;
}

img{
    user-select: none;
    transition: filter 200ms ease-in-out, transform 200ms ease-in-out;
    filter: drop-shadow(0px 0px 1px #111111);  
}

.ImgAddCard{
    position: relative;
    width: 50px;
}

.ImgAddCard:hover{
    filter: drop-shadow(1px 10px 5px #111111);    
    transform: translateY(-10px);
}

.ImgDelCard{
    display: inline-block;
    width: 20px;
    margin-top: 5px;
}

.ImgDelCard:hover{
    filter: drop-shadow(0px 3px 5px #111111);    
    transform: translateY(-3px);
}

.AddCardDialog{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    margin-top: 2px;
    margin-bottom: 10px;
}

.Description{
    width: 500px;
    height: 100px;
    margin-bottom: 0;
    
}

.hidden{
    display: none;
}

.TextButton{    
    transition: filter 100ms ease-in-out, transform 100ms ease-in-out;
    filter: drop-shadow(0px 0px 1px #111111);
    padding: 5px;
    margin-top: 10px;
}

.TextButton:hover{
    filter: drop-shadow(0px 5px 5px #111111);
    transform: translateY(-5px);
}