*   {
        box-sizing: border-box;
    }

body{
    align-items: center;
    background-color: #1F181F;
    color: #FFFFFFDD;
    font-family: Arial, Helvetica, sans-serif;
}

.Kanban-Column{
    float: left;
    width: 33.33%;
    padding: 15px;
}

.Kanban-Container{
    height: 100%;
    background-color: #3D383F;
    border-radius: 30px;
    padding: 10px;
    border-color: #888888;
    border-width: 5px;
    border-style: solid;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .Kanban-Column{
        width: 100%;
    }
}

.Kanban-Title{
    font-weight: 50 0;
    font-size: 40px;
    user-select: none;
}

.Kanban-Cards{

}

.Kanban-Card{
    margin-top: 10px;
    min-height: 50px;
    border-radius: 15px;
    background-color: #88888888;
    border-color: #FFFFFF88;
    border-width: 2px;
    border-style: solid;
    transition: background-color ease-in-out 200ms;
}

.Kanban-Card:hover{
    background-color: #888888;
}

.Card-Title{
    font-size: 25px;
    font-weight: bold;
}

.Card-Description{
    
}

.ImgAddCard{
    position: relative;
    width: 50px;
}